*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border box;
    
}
.navbar{
    height: 60px;
    background-color: rgba(19,25,33,255);
    color: rgb(191, 180, 180);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_logo{
    width: 130px;
    margin: 1px;
    padding: 1px 8px 0px 6px;
    font: 14px;
}
.logo{
    background-image: url("Screenshot\ 2024-02-12\ 133600.png");
    background-size: contain;
    color: #007185;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box 2 */
.nav-loc{
    border: 1.5px solid transparent;
}
.nav-loc:hover{
    border: 1.5px solid white;
}
.nav-logo{
    margin: 8px 0px 0px;
}
#del{
    font-size: 12px;
    color: #cccccc;
    height: 14px;
    margin-top: 5px;
    border-top: 5px;
}
#india{
    font-size: 14px;
    color: #ffffff;
    height: 16px;
}
.searchh{
    height: 35px;
}
/** box 3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    align-items: center;
}
.search-input{
    width: 100%;
    font-size: 1rem;
}
.search-input:hover{
    border: 3px solid #febd68;
}
.nav-search-logo{
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
}
/** box 4 **/
.hello{
    border: 1.5px solid transparent;
}
.hello:hover{
    border: 1.5px solid white;
}
#account{
    font-weight:600;
}
/** box 5 **/
.ro{
    border: 1.5px solid transparent;
}
.ro:hover{
    border: 1.5px solid white;
}
.order{
    font-weight: 700;
}
/** box 6 **/
.cart-logo{
    font-size: 20px;
    font-weight: 600;
    border: 1.5px solid transparent;
}
.cart-logo:hover{
    border: 1.5px solid white;
}
.cart-logo i{
    font-size: 30px;
}
/** sub nav **/
.sub-nav{
    height: 39px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
}
.sub-nav i{
    color: white;
}
.sub-nav a{
    color: white;
    padding: 10px;
}
/** hero section **/
.hero{
    background-image: url("hero_section.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
}
/** shop  section **/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #42655e;
    margin-top: 15px;
}
.shop-section a{
    margin-top: 20px;
    margin-left: 25px;
    color: blue;
}
.box{
   
    height: 400px;
    width: 20%;
    background-color: white;
}
.box1-image{
    background-image: url("box1.jpg");
     height:  350px;
     margin-left: 18px;
     margin-right: 18px;
}
.shop-section h2{
    text-align: center;
}

.box2-image{
  background-image: url("backcover.jpg");
  height: 350px;
  margin-left: 18px;
  margin-right: 18px;
}
.box3-image{
    background-image: url("liveplants.jpg");
    height: 350px;
    margin-left: 18px;
    margin-right: 18px; 
}
.box4-image{
    background-image: url("smallspace.jpg");
    height: 350px;
    margin-left: 18px;
    margin-right: 18px;
}
.shop-section2{
    display: flex;
    justify-content: space-evenly;
    background-color: #42655e;
    margin-top: 20px;
}
.shop-section2 h2{
    text-align: center;
    margin-top: 20px;
}

.box{
    height: 400px;
    width: 20%;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.box5-image{
    background-image: url("speakers.jpg");
    height: 350px;
    margin-left: 18px;
    margin-right: 18px;
    background-repeat:no-repeat;
    margin-top: 30px;
}
.box6-image{
    background-image: url("tshirts.jpg");
    height: 350px;
    margin-left: 18px;
    margin-right: 18px;
    background-repeat:no-repeat;
    margin-top: 30px;
}
.box7-image{
    background-image: url("amazonexclusivetoys.jpg");
    height: 350px;
    margin-left: 18px;
    margin-right: 18px;
    background-repeat:no-repeat;
    margin-top: 30px;
}
.box8-image{
    background-image: url("amazonprime.jpg");
    height: 350px;
    margin-left: 18px;
    margin-right: 18px;
    background-repeat:no-repeat;
    margin-top: 30px;
}
.shop-section2 a{
    margin-top: 10px;
    margin-left: 25px;
    color: blue;
}
/** footer **/
footer{
    margin-top: 60px;
}
.foot-panel{
 background-color: #37475a;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
}
.foot-last{
    height: 600px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
}
.getusknow{
    font-weight: 700;
    color: white;
    margin-top: 150px;
    
}
.getusknow li{
    list-style: none;
    color: white;
    padding: 0px 10px;
    padding: 5px 0px 5px 0px;
}
.getusknow a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.contact{
    font-weight: 700;
    color: white;
    margin-top: 150px;
}
.contact li{
    list-style: none;
    color: white;
    padding: 0px 10px;
    padding: 5px 0px 5px 0px;
}
.contact a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.makemoney{
    font-weight: 700;
    color: white;
    margin-top: 150px;
}
.makemoney li{
    list-style: none;
    color: white;
    padding: 0px 10px;
    padding: 5px 0px 5px 0px;
}
.makemoney a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.letushelp{
    font-weight: 700;
    color: white;
    margin-top: 150px;
}
.letushelp li{
    list-style: none;
    color: white;
    padding: 0px 10px;
    padding: 5px 0px 5px 0px;
}
.letushelp a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.logo-panel{
    background-color: #222f3d;
    height: 70px;
    border-top: 0.5px solid white;  
}
.logoo{ 
    background-image: url("Screenshot\ 2024-02-12\ 133600.png");
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 700px;
    top: 10px;
}
.condition{
    height: 76px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
}
.condition a{
    padding: 0px 0.75px;
    color: white;
    text-decoration: none;
}
.condition span{
    color: white;
    position: relative;
   left: -250px;
    padding-top: 60px;
}
.condition li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
   position: relative;
   left: 100px;
   top: 25px;
}